<html>
  <body>

<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/AmazonWebservices_Logo.svg/2000px-AmazonWebservices_Logo.svg.png width=200>

<pre>
Hostname:   <%= node['hostname'] %>
IP:         <%= node['cloud']['public_ipv4'] %>
Memory:     <%= node['memory']['total'] %>
# CPUs:     <%= node['cpu']['total'] %>
Kernel:     <%= node['kernel']['release'] %>
OS Version: <%= node['platform'] -%> <%= node['platform_version'] %>
AZ:         <%= node['ec2']['placement_availability_zone'] %>
</pre>

  </body>
</html>
